@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

header{
    display: flex;
    background-color: #131A1E;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#logo{
    width: 65px;
    height: 45px;
}

nav{
    display: inline;
}

div{
    display: inline-block;
    color: #F4AE01;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    padding-right: 450px;
    margin-left: -90px;
    text-shadow: 1px 1px 10px wheat;
}

a{
    display: inline-flex;
    text-shadow: 1px 1px 10px wheat;
    align-items: center;
    color: #F4AE01;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    padding-left: 30px;
    margin: 0px;
    transition: 100ms linear;
}

a:hover{
    color:bisque; 
    transform: scale(1.05);
}

a:before{
    content: "";
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 0px 10px 1px bisque;
}

body{
    font-family: 'Share Tech Mono', monospace;
    background-image: url(/assets/image/pexels-cottonbro-\p.png);
    background-color: #464646;
}